*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fef7e6;
    height: 100vh;
}
nav{
    background-color:#d4a373 ;
}
.header{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    color: rgb(45, 44, 44);
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.skill{
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
    position: relative;
}
.outer{
    padding: 20px;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);

    /* background: linear-gradient(#e91e63,#673ab7);             */
}

.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
     align-items: center;
    /* box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
     -0.5px -0.5px 0px rgba(255, 255, 255, 1),
     -0.5px -0.5px 0px rgba(0, 0, 0, 0.15),
     0px 12px 10px -10px rgba(0, 0, 0, 0.05);  */
    
}
.number1 , .number2, .number3{
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: 600;
    color: #666;
    
}
.skill p{
    margin-left: 40px;
    font-weight: 600;
    color: #666;
}
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
}
svg{
    position: absolute;
    top: 0;
    margin-right: 50px;
}

#one{
    animation: anim1 2s linear forwards;
}

@keyframes anim1{
    100%{
        stroke-dashoffset: 60;
    }
}

#two{
    animation: anim2 2s linear forwards;
}

@keyframes anim2{
    100%{
        stroke-dashoffset: 100;
    }
}

#three{
    animation: anim3 2s linear forwards;
}

@keyframes anim3{
    100%{
        stroke-dashoffset: 150;
    }
}